.chart {
    -fx-padding: 0px;
    -fx-alternative-column-fill-visible: true;
    -fx-vertical-grid-lines-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-min-height: 20px;
}
.chart-content {
    -fx-padding: 0px;
}
.axis:top > .axis-label,
.axis:left > .axis-label {
    -fx-padding: 0;
}
.axis:bottom > .axis-label,
.axis:right > .axis-label {
    -fx-padding: 0;
}

.axis{
    -fx-minor-tick-visible: false;
    -fx-tick-mark-visible: false;
    -fx-pref-height: 0;
    -fx-scale-x: 0;
    -fx-padding: 0;
    -fx-label-padding: 0;
    -fx-minor-tick-length: 0;
    -fx-show-tick-labels: false;
    -fx-show-tick-marks: false;
    -fx-tick-labels-visible: false;
    -fx-graphic-text-gap: 0;
}
.axis.zeroWidth{
    -fx-pref-width: 0;
}

.chart-alternative-column-fill {
    -fx-fill: #EEE;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.durationLine{
    -fx-stroke: black;
    -fx-opacity: 0.1;
    -fx-stroke-width: 5px;
}

.cycleSelectionRectangle{
    -fx-fill: lightyellow;
    -fx-blend-mode: multiply;
}

.valueLine{
    -fx-stroke: steelblue;
}

.counterexample .valueLine{
    -fx-stroke: red;
}