.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.labelContainer{
    -fx-background-color: lightgray;
}

.globalXAxis{
    -fx-animated: false;
    -fx-minor-tick-visible: false;
}

.labelContainer .output{
    -fx-text-fill: purple;
}

.labelContainer .input{
    -fx-text-fill: darkgreen;
}

.outdatedLabel{
    -fx-text-alignment: center;
    -fx-text-fill: orangered;
}

.outdatedIcon{
    -fx-fill: orangered;
}

.outdatedMessage{
    -fx-alignment: center;

}

.collectionView{
    -fx-alignment: top-center;
}