name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5

            - name: Set up JDK 23
              uses: actions/setup-java@v5
              with:
                  java-version: '23'
                  distribution: 'temurin'

            - name: Set up Gradle
              uses: gradle/actions/setup-gradle@v5

            - run: ./gradlew testClasses

            - name: Setup nuXmv
              uses: verifaps/setup-nuxmv@v0.1.2

            - name: Test nuXmv
              run: echo "quit" | nuXmv -int | head -n 1

            - name: setup-smt
              uses: keyproject/setup-smt@v0.2.0

            - name: Test z3
              run: z3 -version

            - run: ./gradlew test -x :exec:test --no-problems-report

            - run: ./gradlew assemble :exec:assembleDist

            - name: Run integration tests
              run: ./gradlew :exec:test         --no-problems-report

            - name: Summarize tests results
              uses: jeantessier/test-summary-action@v1
              if: ${{ always() }}

    spotless:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up JDK 23
              uses: actions/setup-java@v5
              with:
                  java-version: '23'
                  distribution: 'temurin'

            - name: Set up Gradle
              uses: gradle/actions/setup-gradle@v5

            - run: ./gradlew spotlessCheck



    #  ttsynth-test:
#    runs-on: ubuntu-latest
#    needs: [ "build" ]
#    steps:
#
#      - uses: actions/checkout@v5
#
#      - name: Download build artifacts
#        uses: actions/download-artifact@v4
#
#      - name: Setup nuXmv
#        uses: verifaps/setup-nuxmv@v0.1.2
#
#      - name: Test nuXmv
#        run: echo "quit" | nuXmv -int | head -n 1
#
#      - name: setup-smt
#        uses: keyproject/setup-smt@v0.2.0
#
#      - name: Test z3
#        run: z3 -version
#
#      - run: python --version
#      - run: g++ --version
#      - run: javac -version
#      - run: z3 -version
#
#      - name: Synthesis Tests
#        run: |
#          cd geteta/examples/synthesis_test_cases
#          ../../../exec/build/install/exec/bin/ttsynth --python=/usr/bin/python3 files/* -o generated/
#          ./gradlew test --info
