name: Nightly Deployer of Weekly Builds

on:
    workflow_dispatch:
    schedule:
        -   cron: '0 5 * * 1' # every monday morning

permissions:
    contents: write
    id-token: write
    pages: write


# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
            -   name: Set up JDK 21
                uses: actions/setup-java@v5
                with:
                    java-version: 21
                    distribution: 'temurin'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v5

            -   name: Build with Gradle
                run: ./gradlew --parallel assemble :exec:installDist :exec:installLinuxDist :exec:installWindowsDist

            -   name: Compress Distributions
                run: |
                    tar cvf varifaps-windows.tar.xz exec/build/install/verifaps-windows
                    tar cvf varifaps-linux.tar.xz exec/build/install/verifaps-linux
                    tar cvf varifaps-without-tools.tar.xz exec/build/install/verifaps-universal

            -   name: Delete previous nightly release
                continue-on-error: true
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    gh release delete nightly --yes --cleanup-tag 

            -   name: Create nightly release
                id: create_release
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    gh release create --generate-notes --title "Nightly Release" \
                       --prerelease nightly \
                       varifaps-windows.tar.xz \
                       varifaps-linux.tar.xz \
                       varifaps-without-tools.tar.xz 
                    

    pages:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   name: Setup Pages
                uses: actions/configure-pages@v5

            -   name: Set up JDK 21
                uses: actions/setup-java@v5
                with:
                    java-version: 21
                    distribution: 'temurin'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v5

            -   name: Build with Gradle
                run: ./gradlew --parallel dokkaHtmlMultiModule

            -   name: Upload artifact
                uses: actions/upload-pages-artifact@v4
                with:
                    path: 'build/dokka/html'

            -   name: Deploy to GitHub Pages
                id: deployment
                uses: actions/deploy-pages@v4
